@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Roboto|Secular+One');


/***-BODY-BACKGROUNDS-***/

body {
  position: relative;
  top: 50px;
  background-color: black;
  font-family: "Open Sans", sans-serif;
}

h2, h3, h4 {
  font-family: sans-serif;
}

.background-div {
    background-color: hsla(0, 0%, 39%, 0.3);
    width: 100%;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.js {
  height: 400px;
  overflow-y: scroll;
}

/***NAVIGATION***/

.full-nav {
  display: none;
}

.mobile-nav {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.nav-top {
  background: white;
  border-bottom: 1px solid black;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;

}

.nav-top a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 5px 5px 5px 5px;
  margin-right: 5px;

}

.nav-top h1 {
  margin: 0.5em;
  font-size: 1.5em;
}

.nav-top ul {
  list-style: none;
  margin: auto 0 auto 0;
  display: none;
}

ul.active {
  display: block;
  border-bottom: 1px solid #f2f2f2;
}

.active li {
  border-bottom: 1px solid #6c6c6c;
}

/***-MAIN STYLES-***/

.about-style {
  padding: 5% 2% 5% 2%;
  background-color: white;
  line-height: 1.4;
}

.contact-form {
  color: white;
  margin-bottom: 20px;
}

.color-2 {
  background-color: #6e7beb;
}

.fullscreen-space {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

i {
  margin-right: 0.4em;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto 15%;
}

.shadow {
  box-shadow: 0px 3px 7px 0px rgba(92,92,92,1);
}

/***-TEXT-***/

.desc {
  margin: 5px;
  color: white;
  text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.desc h4 {

}

.desc p {
  min-height: 160px;
  max-height: 160px;
  overflow-y: scroll;
  text-align: justify;
}

.indie {
  font-family: 'Indie Flower', cursive;
}

.overlay-txt {
  color: white;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-left: 20px;
  padding-right: 20px;
  border-left-width: 20px;
  margin-left: 20px;
  margin-right: 20px;
}


/***-CONTAINERS-***/

.box {
  padding: 2%;
  margin: 1%;
  text-align: center;
  line-height: 1.4;
}

.container {

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 10px 50px 10px;
  background-color: hsla(0, 0%, 39%, 0.3);
}

.flex-col-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.portrait-circular {
  display: block;
  margin: auto;
  width: 250px;
  border: 2px solid black;
  border-radius: 50%
}

.thumbnail {
  width:250px;
  height: 150px;
}

.unit {
  max-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 5px 5px 5px;
  background-color: hsla(0, 0%, 39%, 0.3);
  margin: 20px;
}

/***-FOOTER-***/

.footer {
  background-color: black;
  height: 100%;
  text-decoration: none;
  color: white;
}

.footer a {
  text-decoration: underline;
  color: white;
  padding: 5px 5px 5px 5px;
}

footer ul {
  color: white;
  list-style: none;
  margin-right: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 20px;
}

#home {
  background-image: url('../assets/backgrounds/city-cityscape-mobile.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#portfolio {
  background-image: url('../assets/backgrounds/greybrick.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#contact {
  background-image: url('../assets/backgrounds/contact.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}


@media (min-width: 500px) {

  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}


@media (min-width: 550px) {

  body {
    position: relative;
    top: 60px;
  }

  #home {
    background-image: url('../assets/backgrounds/city-cityscape.jpg');
}

  .nav-top a:hover {
    border-bottom: solid 2px black;
  }

  .nav-top h1 {
    font-size: 1.2em;
  }

  .nav-top ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    margin: auto;
  }

  .full-nav {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .mobile-nav {
    display: none;
  }

  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

  }

  .flex-col-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .unit:hover {
    -webkit-transform: translateX(0px) translateY(20px) scale(1.2);
            transform: translateX(0px) translateY(20px) scale(1.2);
    translate: down 20px;
  }


@media (min-width: 900px) {

    body {
      position: relative;
      top: 47px;
    }

    .nav-top {
      height: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
    }

    .nav-top ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: unset;
      margin: unset;
    }

    .fixed-bottom {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .upper {
      text-transform: uppercase;
    }

  }

  @media (min-width: 1100px ) {

    .container {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      padding-bottom: 100px;
    }
  }
}
