h1, h2, h3, p, li {
font-family: Times, serif;
color: rgb(3, 7, 48);
}

p {
padding-left: 20px;
padding-right: 20px;
}

/*body {
  width: 100%;
  background: linear-gradient( to bottom, #d3e8fa 0%, #7ca7fb 51%, #2e4df1 75%);
  background: url("assets/dark-sharp.png");
  color: white;
  opacity: 1;
}
*/
body {
background: #6D8993;
background-image: url('https://download.unsplash.com/photo-1428908728789-d2de25dbd4e2');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

.portrait-circular {
  display: block;
  margin: auto;
  width: 300px;
  border: 2px solid hsl(231, 53%, 30%);
  border-radius: 50%
}

.uppercase {
  text-transform: uppercase;
}

.section {
	clear: both;
	padding: 0px;
	margin:30px 30px 30px 20px;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

.group:before,
.group:after {
	content:"";
	display:flex;;
}
.group:after {
	clear:both;
}
.group {
    zoom:1;
}


.col_3_of_3 {
	width: 100%;
}
.col_2_of_3 {
	width: 66%;
}
.col_1_of_3 {
	width: 32%;
}

@media only screen and (max-width: 600px) {
	.col { margin: 1% 0 1% 0%;}
	.col_3_of_3, .col_2_of_3, .col_1_of_3 { width: 100%;
  }
  .uppercase {
    align: center;
  }
  * {text-align: justify;}
}

.well {
    min-height: 20px;
    margin: auto;
    width: 85%;
    padding: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: hsla(0, 0%, 99%, 0.5);
    background: url("images/fresh-snow-55.png");
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
